.slider {
	margin-top: 40px;
}
.brand-logo {
	font-family: 'Raleway', sans-serif;
	
}
 a {
	 font-family: 'Raleway', sans-serif;
 }

.card-panel {
	margin-top: 40px;
	width: 485.75px;
	height: 400px;

}

.white-text {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	text-align: justify;
}

.btn {
	text-align: center;
}

.responsive-image{

	height:200px;
}
.nav-wrapper h5 {
	font-size: 20px;
	line-height: 120%;
	margin: 20px;
	text-align: center;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
}
body {
	font-family: 'Raleway', sans-serif;
}
nav ul a {
	margin-right: 20px;
}

.footer-test {
	height:40px;
}
.footer{
	font-size: 8px;
	padding-top: 15px;
	text-align: center;
}

#intro{
	padding-left: 40px;
	padding-right:40px;
}

tbody{
	font-size: 12px;
	border: 1px solid black;
	color: black;

}
tbody tr:hover {
	background-color: #0197a6 !important;


}
tbody tr:link {
	color: #0197a6;
}
thead{
	font-size: 18px;
	background-color: #0197a6;
	border: 1px solid black;


}

th tr {
	border-bottom: 1px solid #ddd

}